header {
  background-color: #666;
  text-align: center;
  font-size: 60px;
  color: white;
}

p {
  font-size: 125%;
}

header {
  font-size: 125%;
}

h2 {
  font-size: 125%;
}

ul {
  font-size: 125%;
}

ol {
  font-size: 125%;
}

nav {
  margin: 10px;
  width: 1011px;
}

nav li {
  display: block;
  width: 190px;
  float: left;
  margin-left: 2px;
  border: 1px solid #000;
}

nav a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: #fff;
  color: #009;
}

nav a:hover {
  background-color: #009;
  color: #fff;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
